<!-- This is a comment. Comments are not displayed in the browser
<head>
    <title>First Title</title>
</head>

<body>
    <textarea id="firstbox">Edit Me</textarea>
    <button onclick="performPost()">Perform POST!</button>

    <form method="POST" enctype="multipart/form-data" id="my-form">
        <input type="text" name="title"/><br/><br/>
        <input type="submit" value="Submit" id="btnSubmit"/>
    </form>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<script>
    function performPost() {
        var form = $('#my-form')[0];
        var data = new FormData(form);
        $.ajax({
            type: "POST",
            url: "{{ url_for('create_file') }}",
            data: data,
        })
    }
</script> -->


<!DOCTYPE html>
<html>
    <title>jQuery Ajax Form Submit with FormData Example - NiceSnippets.com</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> 
<body>
    <h1>jQuery Ajax Form Submit with FormData Example - NiceSnippets.com</h1>

    <form method="POST" enctype="multipart/form-data" id="my-form">
        <label for="search_field_dropdown">Choose search field:</label>
        <select name="search_field_dropdown" id="search_field_dropdown">
          <option value="all">All</option>
          <option value="team">Team Name</option>
          <option value="location">Team Location</option>
          <option value="conference">Conference</option>
          <option value="division">Division</option>
          <option value="year_founded">Year Founded</option>
          <option value="arena">Arena Name</option>
          <option value="arena_capacity">Arena Capacity</option>
          <option value="championships">Championships</option>
          <option value="finals_appearances">Finals Appearances</option>
          <option value="players">Player</option>
        </select>
        <br><br>
        <input type="text" id="input_from_search" name="input_from_search"/><br/><br/>
        <input type="file" name="files"/><br/><br/>
        <input type="submit" value="Submit" id="btnSubmit"/>
    </form>
    <span id="output"></span>
    <!-- CSS Code: Place this code in the document's head (between the 'head' tags) -->
<style>
    table.GeneratedTable {
      width: 100%;
      background-color: #ffffff;
      border-collapse: collapse;
      border-width: 2px;
      border-color: #ffcc00;
      border-style: solid;
      color: #000000;
    }
    
    table.GeneratedTable td, table.GeneratedTable th {
      border-width: 2px;
      border-color: #ffcc00;
      border-style: solid;
      padding: 3px;
    }
    
    table.GeneratedTable thead {
      background-color: #ffcc00;
    }
    </style>
    
    <!-- HTML Code: Place this code in the document's body (between the 'body' tags) where the table should appear -->
    <table class="GeneratedTable">
      <thead>
        <tr>
          <th>Team Name</th>
          <th>Location</th>
          <th>Confernce</th>
          <th>Division</th>
          <th>Year Founded</th>
          <th>Arena</th>
          <th>Arena Capacity</th>
          <th>Championships</th>
          <th>Final Appearences</th>
          <th>Player Number</th>
          <th>Player Name</th>
          <th>Player Position</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
        <tr>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
        <tr>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
      </tbody>
    </table>
    <!-- Codes by Quackit.com -->
    
    
    <script type="text/javascript">
    	$(document).ready(function () {
            $("#btnSubmit").click(function (event) {
                //stop submit the form, we will post it manually.
                event.preventDefault();
         
                // Get form
                var form = $('#my-form')[0];
         
                // FormData object 
                var data = new FormData(form);
                console.log(data)
         
                // If you want to add an extra field for the FormData
                //data.append("CustomField", "This is some extra data, testing");
         
                // disabled the submit button
                $("#btnSubmit").prop("disabled", true);
         
                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "{{ url_for('create_file') }}",
                    data: data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 800000,
                    success: function (data) {
                        $("#output").text(data);
                        console.log("SUCCESS : ", data);
                        $("#btnSubmit").prop("disabled", false);
                    },
                    error: function (e) {
                        $("#output").text(e.responseText);
                        console.log("ERROR : ", e);
                        $("#btnSubmit").prop("disabled", false);
                    }
                });
            });
        });
    </script>
</body>
</html>