<!DOCTYPE html>
<html>
    <title>jQuery Ajax Form Submit with FormData Example - NiceSnippets.com</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> 
    <head>

    </head>
<body>
    <h1>NBA Teams</h1>
    <input type="submit" value="Show Full CSV dataset" id="csvDownload"/>
    <input type="submit" value="Show Full JSON dataset" id="jsonDownload"/>
    <br>
    <br>

    <p class="csvclass" id="csvid"></p>
    <p class="jsonclass" id="jsonid"></p>




    <form method="POST" enctype="multipart/form-data" id="my-form">
        <label for="search_field_dropdown">Choose search field:</label>
        <select name="search_field_dropdown" id="search_field_dropdown">
          <option value="all">All</option>
          <option value="team">Team Name</option>
          <option value="location">Team Location</option>
          <option value="conference">Conference</option>
          <option value="division">Division</option>
          <option value="arena">Arena Name</option>
        </select>
        <br><br>
        <input type="text" id="input_from_search" name="input_from_search"/><br/><br/>
        <input type="submit" value="Submit" id="btnSubmit"/>
    </form>

<style>
  p.csvclass {
    white-space: pre-line 
  }

  p.filteredcsvclass {
    white-space: pre-line 
  }
    table.GeneratedTable {
      width: 100%;
      background-color: #ffffff;
      border-collapse: collapse;
      border-width: 2px;
      border-color: #ffcc00;
      border-style: solid;
      color: #000000;
    }
    
    table.GeneratedTable td, table.GeneratedTable th {
      border-width: 2px;
      border-color: #ffcc00;
      border-style: solid;
      padding: 3px;
    }
    
    table.GeneratedTable thead {
      background-color: #ffcc00;
    }
    </style>
    

     <div class="dataTable_wrapper">
      <table class='table table-striped table-bordered table-hover GeneratedTable' id='records_table'>
        <tr class ='odd gradeX'>
          <th>Team Name</th>
          <th>Location</th>
          <th>Confernce</th>
          <th>Division</th>
          <th>Year Founded</th>
          <th>Arena</th>
          <th>Arena Capacity</th>
          <th>Championships</th>
          <th>Final Appearences</th>
          <th>Player Number</th>
          <th>Player Name</th>
          <th>Player Position</th>
        </tr>
      </table>
    </div> 
  

    <p class="filteredcsvclass" id="filteredcsvid"></p>
    <p class="filteredjsonclass" id="filteredjsonid"></p>
    <input type="submit" value="Show Filtered CSV" id="filteredCsvDownload"/>
    <input type="submit" value="Show Filtered JSON" id="filteredJsonDownload"/>


    <script type="text/javascript">
    	$(document).ready(function () {
            $("#btnSubmit").click(function (event) {
                event.preventDefault();
                var form = $('#my-form')[0];
                var data = new FormData(form);
                console.log(data)
                var trHTML = '';
                $("#btnSubmit").prop("disabled", true);
                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "{{ url_for('create_file') }}",
                    data: data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 800000,
                    success: function (data) {
                        console.log("SUCCESS : ", data);
                      $.each(data, function (i, o){
                        trHTML += '<tr><td>' + o.players_name +
                                  '</td><td>' + o.players_position +
                                  '</td><td>' + o.players_number +
                                  '</td><td>' + o.team +
                                  '</td><td>' + o.arena +
                                  '</td><td>' + o.arena_capacity +
                                  '</td><td>' + o.championships +
                                  '</td><td>' + o.conference +
                                  '</td><td>' + o.division +
                                  '</td><td>' + o.finals_appearances +
                                  '</td><td>' + o.location +
                                  '</td><td>' + o.year_founded +
                                  '</td></tr>';
                      });
                      $('#records_table').html(trHTML);
                      //$("#filteredcsvid").text(JSON.stringify(data,null,4));
                      $("#btnSubmit").prop("disabled", false);
                    },
                    error: function (e) {
                        $("#output").text(e.responseText);
                        console.log("ERROR : ", e);
                        $("#btnSubmit").prop("disabled", false);
                    }
                });
            });
            $("#csvDownload").click(function (event) {
              console.log("Download CSV")
              var smt;
              $.ajax({
                type: "GET",
                    enctype: 'multipart/form-data',
                    url: "{{ url_for('full_csv_download') }}",
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 800000,
                    success: function (smt) {
                      console.log(smt)
                      $("#csvid").text(smt);

                    }
              })
            }) 
            $("#jsonDownload").click(function (event) {
              console.log("Download JSON")
              var smt
              $.ajax({
                type: "GET",
                    enctype: 'multipart/form-data',
                    url: "{{ url_for('full_json_download') }}",
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 800000,
                    success: function (smt) {
                      console.log(smt)
                      $("#csvid").text(smt);
                    }
              })
              // link = document.createElement('a')
              // link.setAttribute('href',encodeURI(smt))
              // link.setAttribute('download','full.json')
              // link.click()
            }) 
            
            $("#filteredJsonDownload").click(function (event){
              console.log("ludlo")
              event.preventDefault();
              var form = $('#my-form')[0];
              var data = new FormData(form);
              console.log(data)
              var trHTML = '';
              $("#filteredJsonDownload").prop("disabled", true);
              $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "{{ url_for('filtered_json_download') }}",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 800000,
                success: function (data) {
                  console.log(data)
                  $("#filteredJsonDownload").prop("disabled", false);
                  $("#filteredjsonid").text(JSON.stringify(data,null,4));
                }

              })
            })
            $("#filteredCsvDownload").click(function (event){
              console.log("ludlo")
              event.preventDefault();
              var form = $('#my-form')[0];
              var data = new FormData(form);
              console.log(data)
              var trHTML = '';
              $("#filteredCsvDownload").prop("disabled", true);
              $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "{{ url_for('filtered_csv_download') }}",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 800000,
                success: function (data) {
                  console.log(data)
                  $("#filteredCsvDownload").prop("disabled", false);
                  //$("#filteredcsvid").text(JSON.stringify(data,null,4));
                  $("#filteredcsvid").text(data);
                }

              })
            })
          });
        
    </script>
</body>
</html>